.box__todo{
  margin-top: 50px;
}
.title__todo{
  text-align: center;
}

.box__form{
  text-align: center;
  width: 200px;
  margin: auto;
}

.table__todo{
 
  width: 400px;
  margin: auto;
  margin-top: 30px;
}
.btn__edit{
  margin-right: 20px                      ;
}